<% if (list) { %>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Código</th>
        <th scope="col">Nome do aluno</th>
        <th scope="col">Checkpoint 1</th>
        <th scope="col">Checkpoint 2</th>
        <th scope="col">Checkpoint 3</th>
        <th scope="col">Média</th>
        <th scope="col">Status</th>
        <th scope="col">Opções</th>
    </tr>
    </thead>
    <tbody>
    <% list.forEach((item) => {  %>
    <tr>
        <th scope="row"><%=item.code %></th>
        <td><%=item.name %></td>
        <td><%=item.checkpoint1 %></td>
        <td><%=item.checkpoint2 %></td>
        <td><%=item.checkpoint3 %></td>
        <td><%=item.avg %></td>
        <td><%=item.active ? 'Ativo' : 'Inativo' %></td>
        <td>
        <button onclick="getForm('<%=item.code %>')" type="button" class="btn btn-secondary" title="Editar" data-bs-toggle="modal" data-bs-target="#modal">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
            </svg>
        </button>                    
        <button onclick="deleteItem('<%=item.code %>')" type="button" class="btn btn-danger" title="Apagar">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
            </svg>
        </button>                  
        </td>
    </tr>
    <% }) %>
    </tbody>
</table> 
<% } %>
<% if (!list) { %>
<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Nenhum aluno cadastro!</h4>
    <p>Para cadastrar um novo aluno clique no botão <strong>Adicionar novo aluno</strong></p>
    <hr>
</div>          
<% } %>